# File di database e backup
instance/gestione_corsi.db
instance/gestione_corsi.db.*
*.backup

# Cartelle di upload
/uploads/
/static/uploads/

# Ambiente virtuale e cache Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
